backend/Akshat/.env
backend/Akshat/Vosk_model/README
backend/Akshat/Vosk_model/ivector/splice.conf
backend/Akshat/Vosk_model/ivector/online_cmvn.conf
backend/Akshat/Vosk_model/ivector/global_cmvn.stats
backend/Akshat/Vosk_model/ivector/final.mat
backend/Akshat/Vosk_model/ivector/final.ie
backend/Akshat/Vosk_model/ivector/final.dubm
backend/Akshat/Vosk_model/graph/phones/word_boundary.int
backend/Akshat/Vosk_model/graph/HCLr.fst
backend/Akshat/Vosk_model/graph/Gr.fst
backend/Akshat/Vosk_model/graph/disambig_tid.int
backend/Akshat/Vosk_model/conf/model.conf
backend/Akshat/Vosk_model/conf/mfcc.conf
backend/Akshat/Vosk_model/am/final.mdl
backend/Akshat/STT_Sample.wav
backend/Akshat/vosk-model-small-en-us-0.15/README
backend/Akshat/vosk-model-small-en-us-0.15/ivector/splice.conf
backend/Akshat/vosk-model-small-en-us-0.15/ivector/online_cmvn.conf
backend/Akshat/vosk-model-small-en-us-0.15/ivector/global_cmvn.stats
backend/Akshat/vosk-model-small-en-us-0.15/ivector/final.mat
backend/Akshat/vosk-model-small-en-us-0.15/ivector/final.ie
backend/Akshat/vosk-model-small-en-us-0.15/ivector/final.dubm
backend/Akshat/vosk-model-small-en-us-0.15/graph/phones/word_boundary.int
backend/Akshat/vosk-model-small-en-us-0.15/graph/HCLr.fst
backend/Akshat/vosk-model-small-en-us-0.15/graph/Gr.fst
backend/Akshat/vosk-model-small-en-us-0.15/graph/disambig_tid.int
backend/Akshat/vosk-model-small-en-us-0.15/conf/model.conf
backend/Akshat/vosk-model-small-en-us-0.15/conf/mfcc.conf
backend/Akshat/vosk-model-small-en-us-0.15/am/final.mdl
