.job-desc-heading {
  background-image: url("/job_back_2.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: text;
  color: transparent;
  animation: animate 10s linear infinite;
  text-align: center;
  font-size: 80px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 20px;
  border-left: 30px solid rgb(79, 137, 182);
  border-right: 30px solid rgb(79, 137, 182);
  border-top: 30px solid rgb(79, 137, 182);
  border-bottom: 30px solid rgb(79, 137, 182);
}
@keyframes animate {
  to {
    background-position-x: 200px;
  }
}
.responsibilities-heading {
  background-color: lightblue;
  max-width: 900px;
  margin-left: 300px;
  margin-top: 60px;
  margin-bottom: 16px;
  padding: 12px;
  border-radius: 12px;
  font-size: 25px;
  font-family: cursive;
  font-weight: 900;
}
.res-list-items {
  font-size: 17px;
  margin-left: 300px;
  list-style: square;
}
.req-heading {
  background-color: lightblue;
  max-width: 900px;
  margin-left: 300px;
  margin-bottom: 16px;
  padding: 12px;
  border-radius: 12px;
  font-size: 23px;
  font-family: cursive;
  font-weight: 900;
}
.req-list-items {
  font-size: 17px;
  margin-left: 300px;
  list-style: square;
}
.what-heading {
  background-color: lightblue;
  max-width: 900px;
  margin-left: 300px;
  margin-bottom: 16px;
  padding: 12px;
  border-radius: 12px;
  font-size: 23px;
  font-family: cursive;
  font-weight: 900;
}
.what-list-items {
  font-size: 17px;
  margin-left: 300px;
  list-style: square;
}
